<div class="row" >
    <div class="col-md-12 course-info-text">
        [C] {{ record.yearTermCourseCodeSectionName }} ({{ record.courseOwnerName }})
    </div>
</div>
<div class="row" >
    <div class="col-md-8">
        <strong>Original Report Owner:</strong> {{record.courseOwnerName}}
        <div class="row" >
            <div class="col-md-4">
                <strong>Share With:</strong>
            </div>
        </div>
        <div class="row row-details" [ngClass]="{'inner-green-field': record.approve ==='Accepted', 'inner-red-field' : record.approve==='Declined'}">
            <div class="col-md-5 " >
                <span>{{record.shareeName}}</span>
            </div>
            <div class="col-md-5 " >
                <button type="button" class="btn" [ngClass]="{'button-approve-selected btn-success': record.approve==='Accepted', 'button-not-selected' : record.approve!=='Accepted'}" style="font-size: 12px;" (click)="onApproveRequest()">
                    <i class="fa fa-check" aria-hidden="true" style="padding-right: 5px;"></i>Approve
                </button>
                <p class="button-spacing-p"></p>
                <button type="button" class="btn"  [ngClass]="{'button-reject-selected btn-danger': record.approve==='Declined', 'button-not-selected' : record.approve!=='Declined' }"  style="font-size: 12px;" (click)="onRejectRequest()">
                    <i class="fa fa-times" aria-hidden="true" style="padding-right: 5px;"></i>Reject
                </button>
                <!--
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                    <label ngbButtonLabel class="btn-success">
                      <input ngbButton type="radio" [value]="approve">Approve
                    </label>
                    <span style="padding-left: 10px;"></span>
                    <label ngbButtonLabel class="btn-danger">
                      <input ngbButton type="radio" [value]="reject">Reject
                    </label>
                </div>
            -->
            </div>
            <div class="col-md-2 confirm-button-left-padding" >
                <button type="button" class="btn btn-primary button-confirm-font" (click)="onConfirm()">
                  Confirm
                 </button>
            </div>
        </div>
    </div>
    <div class="col-md-4 additional-info" >
        <div class="row border-bottom">
            <div class="col-md-12">
                <label class="endorse-details-text">Request Status:</label><p class="label-spacing-p"></p>{{record.endorsement_status}}
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-md-12">
                <label class="endorse-details-text">Should be Endorsed by:</label><p class="label-spacing-p"></p>{{endorseBy | translate }}
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-md-12">
                <label class="endorse-details-text">Request Raised by:</label><p class="label-spacing-p"></p>{{record.shareRequesterName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="endorse-details-text">Request Raised at:</label><p class="label-spacing-p"></p>{{record.request_time}}
            </div>
        </div>
    </div>
</div>

