.user-record-grid {
    width: 100%;
    height: 100%;
}
.dropDownSelect {
    color: #000000;
    background-color: #ffffff;  
    font-size: 14px;  
    border: none;
}
.dropDownItem {
    font-size: 13px;
}
.gridSearchBar {
    color: #ffffff;
    background-color: #5c9ccc;  
    font-size: 14px;
}
.upper-border {
    border: solid 1px;
    border-color: #5c9ccc;  
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;	
}
.lower-border-with-radius {
    border: solid;
    border-color:  #5c9ccc; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;    
}
.lower-border-no-radius {
    border: solid;
    border-color:  #5c9ccc; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;    
}
.grid-bar-label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
.gridSearchBar-content-padding {
    padding-top:5px;    
    padding-bottom:0px;
    padding-right:13px;
}
@media screen and (max-width: 767px) {
	.padding-right-small-scrn-8px {
		padding-right: 8px !important; 	
	}
}
.gridSearchBar-content-padding {
    padding-top:5px;    
    padding-bottom:0px;
    padding-right:13px;
}
.gradSearchBar-text-align-right {
    text-align:right;
}
/*
.justify-content-end {
    display: -webkit-flex; 
    -webkit-justify-content: center; 
    display: flex;
    justify-content: center;
}
*/
.pagination-buttons-padding {
    padding-top: 5px; 
    padding-bottom:0px;
    margin-bottom:0px;    
    padding-right: 13px;
    height:40px;
}
.showing-to-no-of-entires {
    padding-top: 8px; 
    padding-bottom:0px;
    margin-bottom:0px;    
    padding-right: 13px;
    height:40px;    
}
ngb-pagination /deep/ .page-item.disabled .page-link {
    color: #2e6e9e;
    background-color: #dfeffc;
    font-weight: bold;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
}
ngb-pagination /deep/ .page-item .page-link {
    color: #2e6e9e;
    background-color: #dfeffc;
    font-weight: bold;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
}
ngb-pagination /deep/ .page-item.active .page-link {
    background-color: #ffffff;
    border-color: #2e6e9e;
    font-weight: bold;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
}
@media screen and (max-width: 480px) {
    .mobile-width-and-padding {
        width: 150px !important;
        padding-bottom: 10px;
    }
    .mobile-padding-right {
        padding-right: 10px;
    }
}
