<p>VeriGuide is intended to help the University to assure that works submitted by students as part of course requirement are original,
  and that students receive the proper recognition and grades for doing so.
  <br/><br/>
  The student, in submitting his/her work (“this Work”) to VeriGuide, warrants that he/she is the lawful owner of the copyright of this Work.
  <br/><br/>
  The student hereby grants a worldwide irrevocable non-exclusive perpetual licence in respect of the copyright in this Work to the University.
  The University will use this Work for the following purposes.</p>
<b>(a) Checking that this Work is original</b>
<br/>
The University needs to establish with reasonable confidence that this Work is original, before this Work can be marked or graded. For this purpose,
VeriGuide will produce comparison reports showing any apparent similarities between this Work and other works, in order to provide data for teachers to decide,
in the context of the particular subjects, course and assignment. However, any such reports that show the author’s identity will only be made available to teachers,
administrators and relevant committees in the University with a legitimate responsibility for marking, grading, examining, degree and other awards, quality assurance,
and where necessary, for student discipline.
<br/><br/>
<b>(b) Anonymous archive for reference in checking that future works submitted by other students of the University are original</b>
<br/>
The University will store this Work anonymously in an archive, to serve as one of the bases for comparison with future works submitted by other students of the University,
in order to establish that the latter are original. For this purpose, every effort will be made to ensure this Work will be stored in a manner that would not reveal the author’s identity,
and that in exhibiting any comparison with other work, only relevant sentences/ parts of this Work with apparent similarities will be cited. In order to help the University to achieve anonymity,
this Work submitted should not contain any reference to the student’s name or identity except in designated places on the front page of this Work
(which will allow this information to be removed before archival).
<br/><br/>
<b>(c) Research and statistical reports</b>
<br/>
The University will also use the material for research on the methodology of textual comparisons and evaluations, on teaching and learning, and for the compilation of statistical reports.
For this purpose, only the anonymously archived material will be used, so that student identity is not revealed.
