<div class="row" >
    <div class="col-md-12 text-align-center">
        <button type="button" class="btn btn-default col-md-4" (click)="onClickBack($event)" 
            [disabled]="nextBackNavigationService.isInFirstComponent()">
            {{ 'submissionUpload.back' | translate }} 
        </button>
        <p class="button-spacing-p"></p>
        <button type="submit" class="btn btn-primary col-md-4" (click)="onClickNext($event)">
            {{ 'submissionUpload.next' | translate }}
        </button>
    </div>
</div>
