<!--
<span [hidden]="!record.isReportLink||reportLinkDTO!=null">
    <button (click)="onGetReportLink()" class="btn btn-primary fa fa-link create-report-link-button "  >
        <label class="report-link-font">Create Originality Report link</label>
    </button>
</span>
<span [hidden]="reportLinkDTO==null"> 
    <button (click)="onViewReport()" class="btn btn-info fa fa-external-link view-report-button">
        <label class="report-link-font">View Originality Report link</label>
    </button>
    <div class="divider"></div>
    <button (click)="onCopyReportLinkToClipBoard()" class="btn btn-info fa fa-clipboard copy-report-link-button">
        <label class="report-link-font">Share Report link to Clipboard</label>
    </button>
</span>
-->
<span [hidden]="!record.isReportLink">
    <button (click)="onViewReport()" class="btn btn-info fa fa-external-link view-report-button">
        <label class="report-link-font">View Originality Report</label>
    </button>
    <div class="divider"></div>
    <button (click)="onCopyReportLinkToClipBoard()" class="btn btn-info fa fa-clipboard copy-report-link-button">
        <label class="report-link-font">Copy one-time access Report link to Clipboard</label>
    </button>
</span>