/* You can add global styles to this file, and also import other style files */
.formCell {
	line-height:50px;
	border:none;
	padding-bottom:0px;
}
.padding-top-0px {
    padding-top: 0px;
}
.margin-bottom-0px {
   margin-bottom: 0px !important;
}
.margin-top-0px {
    margin-top: 0px;
}
.padding-top-10px {
    padding-top: 10px !important;
}
.padding-top-25px {
    padding-top: 25px !important;
}
.padding-left-5px {
    padding-left: 5px !important;
}
.padding-left-10px {
    padding-left: 10px !important;
}
.margin-top-15px {
    margin-top: 15px !important; 
}
.login-form-border {
    border-radius: 10px; 
    border-style:solid; 
    border-color:#C0C0C0;
    border-width: 1px;
}
.submit-btn {
    background-color:#dfeffc !important;
    border: #c6dcf1 1px solid !important;
    color: #000000;
	font-size:16px;
	cursor:pointer;
}
.submit-btn:hover{
	background-color:#eff8ff !important;
}
.padding-bottom-10px {
    padding-bottom: 10px;
}
.no-padding {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
 }
.auto-size {
    max-width: 100%;
    max-height: 100%;
}
.margin-top-10px {
    margin-top: 10px;
}
.right {
    float: right;
}
.bold {
    font-weight: bold;
}
.margin-top-10px {
	margin-top: 10px;
}
/*override border radius style for ng-bootstrap modal*/
.modal-content  {
    -webkit-border-radius: 0.5rem !important;
    -moz-border-radius: 0.5rem !important;
    border-radius: 0.4rem !important; 
    border: 0px solid #ffffff !important;
}
.report-shared-modal-dialog > .modal-dialog {
    max-width: 1100px !important;
    min-width: 380px !important;   
}
.alert_count {
    background:#fa3e3e;
    padding:1px 3px;
    border-radius: 5px;
    color:#ffffff;
    font-size: 12px;

    padding-bottom: 0px;
    padding-top: 0px;
}
.text-align-center {
    text-align: center;
}
.btn-default {
    border: 1px solid #999999;  
}
.btn-default:hover:enabled {
    color: #ffffff;
    background-color: #000000;
}
.margin-padding-right-0px {
    margin-right: 0px; 
    padding-right: 0px;
}
.inline-item-font-14px {
    display: inline-block;
    font-size: 14px;
}
.inline-item {
    display: inline-block;
}
