<div class="form-course-information-container form-part" id="courseSelecting" [formGroup]="fg">
  <h3>{{ 'assignmentDeadline.creationForm.selectCourse' | translate }}</h3>
  <div class="form-course-information-notice-container notice-message" [hidden]="!sAsgnDeadline.isCourseSelectedInCreation()">
    <h3>{{ 'assignmentDeadline.creationForm.selectedCourse' | translate }}</h3>
    <div class="pl-4">
      <b>{{ 'assignmentDeadline.creationForm.acad.year' | translate }}</b>:&nbsp;{{ this.selectedAcadYear ? this.selectedAcadYear.name : '' }}&nbsp;<br />
      <b>{{ 'assignmentDeadline.creationForm.acad.term' | translate }}</b>:&nbsp;{{ this.selectedTerm ? this.selectedTerm.term : '' }}&nbsp;<br />
      <b>{{ 'assignmentDeadline.creationForm.course' | translate }}</b>:&nbsp;{{ this.selectedCourse ? this.selectedCourse.yearTermCourseCodeSection : '' }}:&nbsp;
      <b>{{ this.selectedCourse ? this.selectedCourse.courseTitle : '' }}</b><br />
      <a href="javascript:void(0)" (click)="onClickSelectCourseAgain($event)" [hidden]="sAsgnDeadline.isAssignmentDetailFilledInCreation()">{{ 'assignmentUpload.anotherCourse' | translate }}</a>
    </div>
  </div>
  <!--More field items may be required-->
  <div class="form-course-information-input-container" [hidden]="sAsgnDeadline.isCourseSelectedInCreation()">
    <div class="form-row form-field">
      <label for="yearList" class="col-sm-12 col-md-4 fielddesc">{{ 'assignmentDeadline.creationForm.acad.year' | translate }}</label>
      <select id="yearList" name="acadYear" class="col-sm-12 col-md-5 form-control custom-select field"
              [(ngModel)]="selectedAcadYear" [ngModelOptions]="{standalone: true}" (ngModelChange)="onAcadYearSelectionChange($event)">
        <option *ngFor="let itemYear of acadYearDTOs" [ngValue]="itemYear">{{ itemYear.name }}</option>
      </select>
    </div>
    <div class="form-row form-field">
      <label for="termList" class="col-sm-12 col-md-4 fielddesc">{{ 'assignmentDeadline.creationForm.acad.term' | translate }}</label>
      <select id="termList" name="currTerm" class="col-col-sm-12 col-md-5 form-control custom-select field"
              [(ngModel)]="selectedTerm" [ngModelOptions]="{standalone: true}" (ngModelChange)="onTermSelectionChange($event)" [disabled]="selectedAcadYear == null">
        <option *ngFor="let itemTerm of termDTOs" [ngValue]="itemTerm">{{ itemTerm.name }}</option>
      </select>
    </div>
    <div class="form-row form-field">
      <label for="courseList" class="col-sm-12 col-md-4 fielddesc">{{ 'assignmentDeadline.creationForm.chooseCourse' | translate }}</label>
      <select id="courseList" name="currCourse" class="col-sm-12 col-md-5 form-control custom-select field"
              [(ngModel)]="selectedCourse" [ngModelOptions]="{standalone: true}" (ngModelChange)="onCourseSelectedFromList($event)"
              [disabled]="selectedAcadYear == null || selectedTerm == null">
        <option *ngFor="let itemCourse of courseDTOs" [ngValue]="itemCourse">{{ itemCourse.name }}</option>
      </select>
    </div>
    <input [hidden]="true" formControlName="courseChoice" required>
  </div>
</div>
