<div class="add-report-owner-dialog-container" >
    <div class="row">
        <div class="col-sm-12 col-md-12" style="padding-bottom:0px;padding-top:5px;float:right;padding-right:0px;">
            <button (click)="onClose()" class="btn btn-default fa fa-times" 
                style="float:right;padding-top:3px;padding-bottom:3px;padding-left:5px;padding-right:5px;float:right;border-style:none;"></button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 add-report-owner-header" >
            {{userCourseSectionDTO.acad_year}}-{{userCourseSectionDTO.acad_year+1}} Term {{userCourseSectionDTO.term}} {{userCourseSectionDTO.courseCode}} ({{ userCourseSectionDTO.userName}})
        </div>
    </div>
    <div class="row div-additional-report-owners">
        <div class="col-sm-12 col-md-12" >
            Additional Report Owners(s):
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="margin-left: 5px;">
            <app-veriguide-grid 
                [records]="reportSharedUserDTOs"
                [columnDefs]="columnDefs"
                [showSearchBar]="false"
                [showAllItemsInOnePage]="false"
                [showNumberOfItemsPerPage]="8"
                [rowStyle]="rowStyle"
                [getRowHeightFunction]="boundGetRowHeightFunction">
            </app-veriguide-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 add-roles-bar" >
            <span>
                <a href="javascript:void(0)" *ngIf="formLockedInput===false" (click)="onAddShareRow('USER')" >[+] Add more users</a>
                <a class="row-spacing" *ngIf="reportAssignableRoleDTOs.length>0&&formLockedInput===false" href="javascript:void(0)" (click)="onAddShareRow('ROLE')" >[+] Add more roles</a>
            </span>
        </div>
    </div>
    <div class="row md-report-owners" *ngIf="newSharees.length>0">
        <div class="col-sm-12 col-md-12 title-font-style"  >
            New Additional Report Owners(s):
        </div>
    </div>
    <div class="row add-report-owners-container" [ngClass]="{ 'add-report-owners-border': newSharees.length>0 }">
        <div class="col-sm-12 col-md-12" [ngClass]="{ 'cols-report-owners-container': newSharees.length>0 }">
            <div class="row div-add-report-owners" *ngFor="let sharee of newSharees">
                <!-- for shareType === 'USER' -->
                <div *ngIf="sharee.shareType==='USER'" class="col-sm-12 col-md-1 formCell sm-spacing md-div-padding-right"  >
                    <label class="md-label-text">Login ID:</label>
                </div>
                <div *ngIf="sharee.shareType==='USER'" class="col-sm-12 col-md-2 formCell sm-spacing md-div-padding-left md-div-padding-right" >
                    <select name="loginTypeSelection" class="form-control formInputHeight login-type-selection-text" [disabled]="formLockedInput === true" 
                        [(ngModel)]="sharee.loginType" >
                        <option *ngFor="let loginType of loginTypes" [ngValue]="loginType">{{loginType.name | translate }}</option>
                    </select>
                </div>
                <div *ngIf="sharee.shareType==='USER'" class="col-sm-12 col-md-2 formCell sm-spacing md-div-padding-left md-div-padding-right" >
                    <input class="form-control formInputHeight login-type-selection-text" [disabled]="formLockedInput === true"
                           [ngClass]="{ 'red-text-border ': sharee.loginId==='', 
                                        'red-text-border': sharee.isValidated === true && sharee.isValid === false }"
                           type="text" [(ngModel)]="sharee.loginId">
                </div>
                <div *ngIf="sharee.shareType==='USER'" class="col-sm-12 col-md-4 formCell sm-spacing md-div-padding-left md-div-padding-right" >
                    <input class="form-control formInputHeight login-type-selection-text" 
                           [ngClass]="{'red-text-border': sharee.isValidated === true && sharee.isValid === false }" 
                           type="text" readonly [(ngModel)]="sharee.userName" >
                </div>
                <div *ngIf="sharee.shareType==='USER'" class="col-sm-12 col-md-2 formCell sm-spacing md-div-padding-left" >
                    <button type="button" class="btn btn-info add-sharee-button" (click)="onValidateNewSharee(sharee)" placement="left" ngbTooltip="Validate"
                    [disabled]="sharee.loginId===''" ><i class="fa fa-check" aria-hidden="true"></i></button>
                    <p class="button-spacing-p"></p>
                    <button type="button" class="btn btn-danger add-sharee-button" (click)="onDeleteNewSharee(sharee)" [disabled]="formLockedInput === true" 
                        placement="right" ngbTooltip="Delete" >
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

                <!-- for shareType === 'ROLE' -->
                <div *ngIf="sharee.shareType==='ROLE'" class="col-sm-12 col-md-1 formCell sm-spacing md-div-padding-right" >
                    <label class="md-label-text">Role:</label>
                </div>
                <div *ngIf="sharee.shareType==='ROLE'" class="col-sm-12 col-md-9 formCell sm-spacing md-div-padding-left md-div-padding-right" >
                    <select name="roleTypeSelection" class="form-control formInputHeight login-type-selection-text" [disabled]="formLockedInput === true"
                    [ngClass]="{'red-border': sharee.isValidated === true && sharee.isValid === false && sharee.selectedRole == null }"
                    [(ngModel)]="sharee.selectedRole" >
                        <option *ngFor="let reportAssignableRoleDTO of reportAssignableRoleDTOs;" 
                            [ngValue]="reportAssignableRoleDTO">[{{reportAssignableRoleDTO.unitName}}] {{reportAssignableRoleDTO.post_name | translate }}</option>
                    </select>
                </div>
                <div *ngIf="sharee.shareType==='ROLE'" class="col-sm-12 col-md-1 formCell sm-spacing md-div-padding-left" >
                    <button type="button" class="btn btn-danger add-sharee-button" (click)="onDeleteNewSharee(sharee)"  [disabled]="formLockedInput === true"
                    placement="right" ngbTooltip="Delete" >
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row endorsed-by-div" *ngIf="newSharees.length>0">
        <div class="col-sm-12 col-md-12 title-font-style"  >
            Endorsed by:
        </div>
    </div>
    <div class="row endorsed-by-div" *ngIf="newSharees.length>0">
       <div class="col-sm-12 col-md-12 radio-font-style">
            <input type="radio" class="radio-button" value="ORIGINAL_OWNER" [(ngModel)]="endorseType">
            <label class="margin-left-5px">Original Owner (please notify the original owner for online endorsement in the system, if needed)</label>
       </div>
       <div class="col-sm-12 col-md-12 radio-font-style">
            <input type="radio" class="radio-button" value="NO_ENDORSEMENT" [(ngModel)]="endorseType">
            <label class="margin-left-5px">None</label><label class="red-text">&nbsp;(make sure you already have endorsement from original owner)</label>
       </div>
    </div>
    <div class="row share-report-error" *ngIf="formValidateResult===false">
    <!-- <div class="row error-message" *ngIf="formValidateResult===false&&serverValidateErrorMessage.length<=0"> -->
        <div class="col-md-12">
            <label class="red-text"><strong>[There are errors in adding the new report owners, please Edit the form before continue.]</strong></label>
        </div>
    </div>
    <div class="row share-report-error" *ngIf="formValidateResult===false&&serverValidateErrorMessage.length>0">
        <div class="col-md-12">
            <label class="red-text">{{'topmenu.errorSubmission' | translate }}: {{ serverValidateErrorMessage }}</label>
        </div>
    </div>
    <div class="row endorsed-by-div" *ngIf="newSharees.length>0 && formValidateResult !== true">
        <div class="col-md-12 text-align-center">
            <button type="button" class="btn btn-default" (click)="resetFlags()" *ngIf="formValidateResult===false" >Edit</button>
            <p class="button-spacing-p" *ngIf="formValidateResult===false"></p>
            <button type="button" class="btn btn-default" (click)="resetForm(true)" >Reset</button>
            <p class="button-spacing-p"></p>
            <button type="button" class="btn btn-primary" (click)="onNextValidateNewSharees()" *ngIf="formValidateResult!==false" >Next > </button>
        </div>
    </div>
    <div class="row add-report-owners-border" *ngIf="newSharees.length>0 && formValidateResult === true">
        <div class="col-md-12 radio-font-style" style="padding-top: 5px;">
            <input type="checkbox" class="radio-button" [(ngModel)]="userConfirmed">
            <label class="margin-left-5px">I confirmed the above information is correct.</label>
            <label class="red-text" *ngIf="userConfirmed!==true">&nbsp;(This field is required)</label>
        </div>
    </div>
    <div class="row endorsed-by-div" *ngIf="newSharees.length>0 && formValidateResult === true">
        <div class="col-md-12 text-align-center">
            <button type="button" class="btn btn-default" (click)="resetFlags()" >Edit</button>
            <p class="button-spacing-p"></p>
            <button type="button" class="btn btn-primary" [disabled]="userConfirmed!==true" (click)="onSubmitNewSharees()" >Submit</button>
        </div>
    </div>
</div>