<div class="form-assignment-details-container form-part" id="assignmentSelecting" [formGroup]="fg">
  <h3>{{ 'assignmentDeadline.creationForm.assignment.detail' | translate }}</h3>
  <div class="form-assignment-details-notice-container notice-message" [hidden]="!sAsgnDeadline.isAssignmentDetailFilledInCreation()">
    <h3>{{ 'assignmentDeadline.creationForm.assignment.selected' | translate }}</h3>
    <div class="pl-4">
      <b>{{ 'assignmentDeadline.creationForm.assignment.no' | translate }}</b>:&nbsp;{{ fg.get('assignmentNum') && fg.get('assignmentNum').value ? fg.get('assignmentNum').value.name : '' }}&nbsp;<br />
      <b>{{ 'assignmentDeadline.creationForm.def.due' | translate }}</b>:&nbsp;{{ fg.get('assignmentDeadline') && fg.get('assignmentDeadline').value ? sAsgnDeadline.getNgbDateString(fg.get('assignmentDeadline').value) : '' }}&nbsp;<br />
      <b>{{ 'assignmentDeadline.allow' | translate }}</b>:&nbsp;{{ fg.get('assignmentAllow') && fg.get('assignmentAllow').value ? fg.get('assignmentAllow').value.name : '' }}&nbsp;<br />
    </div>
  </div>
  <div class="form-assignment-details-input-container" [hidden]="sAsgnDeadline.isAssignmentDetailFilledInCreation()">
    <div class="form-group form-row form-field">
      <label for="assNumList" class="col-sm-12 col-md-4 fielddesc">{{ 'assignmentDeadline.creationForm.assignment.no' | translate }}</label>
      <select id="assNumList" name="assignmentNum" formControlName="assignmentNum" class="col-sm-12 col-md-5 form-control custom-select field" required>
        <option *ngFor="let assignmentNum of assignmentNumDTOs" [ngValue]="assignmentNum.assignment_number">{{ assignmentNum.name }}</option>
      </select>
      <div class="col-sm-12 col-md-3 fielderror" *ngIf="isDisplayErrorInField('assignmentNum')">{{ fields.validationMessagesFieldItems.aNum.required | translate }}</div>
    </div>
    <div class="form-group form-row form-field">
      <label for="datepicker" class="col-sm-12 col-md-4 fielddesc">{{ 'assignmentDeadline.creationForm.def.due' | translate }}</label>
      <div class="col-sm-12 col-md-5 input-group field">
        <input class="form-control" [placeholder]="sAsgnDeadline.getNgbDateString(dsDatepicker)" id="datepicker" name="assignmentDeadline" formControlName="assignmentDeadline"
               [(ngModel)]="dsDatepicker" [minDate]="ndMin" [maxDate]="ndMax" [startDate]="ndToday" [footerTemplate]="dpFooter"
               ngbDatepicker #dp="ngbDatepicker" readonly required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle();" type="button"></button>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 fielderror" *ngIf="isDisplayErrorInField('assignmentDeadline')">{{ fields.validationMessagesFieldItems.aDl.required | translate }}</div>
    </div>
    <div class="form-group form-row form-field">
      <label for="assignmentAllow" class="col-sm-12 col-md-4 fielddesc">{{ 'assignmentDeadline.allow' | translate }}</label>
      <select id="assignmentAllow" name="assignmentAllow" formControlName="assignmentAllow" class="col-sm-12 col-md-5 form-control custom-select field" required>
        <option *ngFor="let assignmentAllow of assignmentAllowDTOs" [ngValue]="assignmentAllow.value">{{ assignmentAllow.name }}</option>
      </select>
      <div class="col-sm-12 col-md-3 fielderror" *ngIf="isDisplayErrorInField('assignmentAllow')">{{ fields.validationMessagesFieldItems.aMarker.required | translate }}</div>
    </div>
  </div>
</div>
<!--the footer part inside datepicker-->
<ng-template #dpFooter>
  <hr class="my-0">
  <button class="btn btn-secondary btn-sm" (click)="dsDatepicker = ndToday; dp.close();">{{ 'assignmentUpload.datePicker.today' | translate }}</button>
  <button class="btn btn-primary btn-sm" (click)="dp.close()">{{ 'assignmentUpload.datePicker.done' | translate }}</button>
</ng-template>

