<form role="form" enctype="multipart/form-data" class="form-frame needs-validation" [formGroup]="fg" (ngSubmit)="onSubmitUploadForm()" novalidate>
  <div class="form-row" id="alert">
    <ngb-alert dismissible="true" type="danger" role="alert" id="assignmentUploadAlert" class="form-alert col-sm-12 col-md-12 alert alert-danger"
               *ngIf="objAlertMessages != null" [dismissible]="false" [innerHTML]="objAlertMessages.message | translate:objAlertMessages.param">
    </ngb-alert>
  </div>
  <app-form-course-information [fg]="fg" *ngIf="sUploadService.isStarted()"></app-form-course-information>
  <app-form-assignment-information [fg]="fg" *ngIf="sUploadService.isStarted()" (blockUserSubmission)="onBlockUserSubmission($event);" (showAlertBanner)="onShowAlertBanner($event)" ></app-form-assignment-information>
  <app-form-confirmation [fg]="fg" *ngIf="sUploadService.isAssignmentSelected()"></app-form-confirmation>
  <app-form-agreement [fg]="fg" *ngIf="sUploadService.isConfirmationAccepted()"></app-form-agreement>
  <!--buttons start-->
  <div class="form-row" id="buttons" *ngIf="!isSubmitNotAllowed">
    <div class="col-md-5">
      <button type="button" id="buttonBack" class="btn btn-default" (click)="onClickBack($event)" [disabled]="!sUploadService.isCourseSelected()"> {{ 'assignmentUpload.back' | translate }} </button>
    </div>
    <div class="col-md-5">
      <button type="submit" id="buttonNext" class="btn btn-primary" (click)="onClickNext($event)"  [disabled]="isBlockNextButton"> {{ 'assignmentUpload.next' | translate }} </button>
    </div>
  </div>
  <div class="form-row justify-content-end" id="msgNotAllowed" *ngIf="isSubmitNotAllowed">
    <div class="col-sm-12 col-md-8 text-danger font-weight-bolder">
      {{ 'assignmentUpload.notAllowMessage' | translate }}
    </div>
  </div>
  <!--buttons end-->
</form>

