
$color-button-calender: #E9ECEF;

.labelText {
	font-weight:normal;
  font-size: 15px;
  height: 32px;
  margin-top:0px;
  padding-top:5px;
  margin-bottom:0px;
  padding-bottom:5px;
}
.radio-button {
  margin-top: -1px; 
  vertical-align: middle;    
}
.formInputHeight {
  height: 34px;
}
button {
    &.calendar, &.calendar:active {
        width: 2.5rem;
        height: 2.25em;
        background-color: $color-button-calender;
        background-image: url('src/assets/images/veriguide-common-control/datepicker-button-logo.png') !important;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
    }
}
.formInputCalendar {
    display: flex; 
    width: 100%;
}
.datePickerInputHeight {
    height: 36px;
}
.fileSelectionInputHeight {
    height: 40px !important;
}
.postSelectionText{
  font-size: 14px;
  color:#385C69; 
}
.top-function-bar {
  border: #c6dcf1 1px solid;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#b6c5d3; 
  margin-left:-10px; 
  margin-right:-10px;
}
.menu-item-container {
  border: #c6dcf1 1px solid;
  border-radius: 10px;
  background-color: #FFF;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px; 
  padding-right:0px;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.menu-item-container-outer {
  padding-left:5px; 
  padding-right:5px;
}
.menu-item-container:hover {
  background: #c6dcf1;
  cursor: pointer;
}
.linkicon{
	float:left; margin-right: 10px; height: 50px;
}
.contentMenuItemText 
{
  font-family: "myriad pro","trebuchet ms","helvetica neue",helvetica,arial,sans-serif;
	font-weight: normal;
	color: #385C69;
  font-size:15pt;
}
.no-border-radius-left-side {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.no-border-radius-right-side {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.margin-left-5px {
  padding-left: 0px;
  margin-left: 5px;
}
.fileSelectionInputHeight {
  height: 40px !important;
}
.green-text {
  color: #008000;
  font-weight: bold;
}
.yellow-text {
  color: #FFD700;
  font-weight: bold;
}
.red-text {
  color: #FF0000;
  font-weight: bold;
}
.blue-text {
  color: #0000FF;
  font-weight: bold;
}
.bar-button-margin-padding {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;  
}