<!--beta version: for CUHK only-->
<form role="form" (submit)="login()">
  <div class="row row-spacing">
    <div class="col-md-12 login-form-border">
      <h2 style="padding-top: 10px;" >Overview: VeriMarker</h2>
      <p style="padding-top: 10px;">This is a demo revamp project for <a href='https://veriguide1.cse.cuhk.edu.hk/portal/plagiarism_detection/login.jsp' target='_blank' >VeriGuide</a>, 
        a plagiarism_detection system used to check similarities on documents from different sources to uphold academic honesty. 
        Using this site, students can upload files to their course assignments, and instructors can create courses and assignments, as well as manage students' submissions.</p>
      <p>This site currently supports <strong>Google Chrome</strong>, <strong>Mozilla Firefox</strong>, <strong>Safari</strong>, and <strong>Microsoft Edge</strong></p>
      <p style="padding-bottom: 15px;">As part of the process to educate students about academic honesty and proper referencing, please visit The Chinese University of Hong Kong: <a href='http://www.cuhk.edu.hk/policy/academichonesty/index.htm' target='_blank' >Honesty in Academic Work</a>  for more information.</p>
      <p style="font-size: 13px;">Completed as a Udacity Capstone Project: <a href='https://www.udacity.com/course/cloud-developer-nanodegree--nd9990'>Cloud Developer Nanodegree</a> - by <a href="mailto:jsleung1@yahoo.com">Jeffrey Leung</a></p>
    </div>
  </div>
  <div class="row row-spacing-10px">
    <div class="col-md-12 login-form-border" >
      <button type="button" class="form-control btn submit-btn margin-top-bottom-10px" (click)="auth0Login()">
        Login with <span style="color:#2e6e9e;font-weight:bold;">Auth0&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
</form>
