<!--beta version: for CUHK only-->
<form role="form" (submit)="login()">
  <div class="row row-spacing">
    <div class="col-md-12 login-form-border">
      <h2 style="padding-top: 10px;" >Overview: VeriMarker</h2>
      <p style="padding-top: 10px;">VeriMarker is a plagiarism detection system used by both students and instructors to manage submissions, assignments and courses, 
        with the primary goal to ensure students did not plagiarized their own work.</p>
      
      <p>Using VeriMarker, student can submit files to the course assignments, view the similarity result, grades, and instructor’s comments of their own submissions, and download the files of their own past submissions.  
        Instructor can create and manage their own courses, assignments, and comment / grade the student’s submissions uploaded to their own assignments.
      </p>

      <p>This site currently supports <strong>Google Chrome</strong> and <strong>Microsoft Edge</strong></p>
      <p style="font-size: 13px;">Completed as a Udacity Capstone Project for the <a href='https://www.udacity.com/course/cloud-developer-nanodegree--nd9990'>Cloud Developer Nanodegree</a> - by <a href="mailto:jsleung506@gmail.com">Jeffrey Leung</a></p>
    </div>
  </div>
  <div class="row row-spacing-10px">
    <div class="col-md-12 login-form-border" >
      <button type="button" class="form-control btn submit-btn margin-top-bottom-10px" (click)="auth0Login()">
        Login with <span style="color:#2e6e9e;font-weight:bold;">Auth0&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
</form>
