<div class="form-part">
    <h3>Upload New Submission</h3>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px">
            <label class="md-label-text" >Select Instructor</label>
        </div>
        <div class="col-md-6">
            <select class="form-control formInputHeight postSelectionText" [(ngModel)]="selectedInstructor" (ngModelChange)="onInstructorSelection()">
                <option *ngFor="let instructor of instructors" [ngValue]="instructor">{{ instructor.userName }}</option>
            </select>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px" >
          <label class="md-label-text" >Academic Year</label>
        </div>
        <div class="col-md-6">
          <select class="form-control formInputHeight postSelectionText" [(ngModel)]="selectedAcadYear" (ngModelChange)="onAcadYearSelection()">
            <option *ngFor="let acadYear of acadYears" [ngValue]="acadYear">{{ acadYear }}</option>
          </select>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px">
            <label class="md-label-text" >Choose a course</label>
        </div>
        <div class="col-md-6">
            <select class="form-control formInputHeight postSelectionText" [(ngModel)]="selectedCourse" (ngModelChange)="onCourseSelection()">
                <option *ngFor="let course of courses" [ngValue]="course">{{ course.courseName }}</option>
            </select>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px" >
            <label class="md-label-text" >Course description</label>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="3"  [(ngModel)]="courseDescription" [disabled]="true"></textarea>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px">
            <label class="md-label-text" >Choose assignment</label>
        </div>
        <div class="col-md-6">
            <select class="form-control formInputHeight postSelectionText" [(ngModel)]="selectedAssignment" (ngModelChange)="onAssignmentSelection()">
                <option *ngFor="let assignment of assignments" [ngValue]="assignment">{{ assignment.assignmentName }}</option>
            </select>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px" >
            <label class="md-label-text" >Assignment description</label>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="5"  [(ngModel)]="assignmentDescription" [disabled]="true"></textarea>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px">
            <label class="md-label-text">Assignment due date</label>
        </div>
        <div class="col-md-6">
            <div class="formInputCalendar" >
                <input class="form-control datePickerInputHeight no-border-radius-right-side"  [disabled]="true"
                    ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="ngbDateStruct" >
                <span class="input-group-addon no-padding">
                    <button class="btn btn-outline-secondary calendar no-border-radius-left-side" (click)="dp.toggle();" type="button"></button>
                </span>
                <span class="input-group-addon no-padding" style="padding-left:10px;">
                    <ngb-timepicker [(ngModel)]="ngbTimeStruct" [disabled]="true"></ngb-timepicker>            
                </span>
            </div>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px">
            <label class="md-label-text" >Select a file</label>
        </div>
        <div class="col-md-6">
            <input type="file" class="file labelText form-control fileSelectionInputHeight"
                id="assignmentFile" name="assignmentFile" (change)="onChangeFileValue($event)" >
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px" >
            <label class="md-label-text" >Student remarks</label>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="6" [(ngModel)]="studentRemarks" ></textarea>
        </div>
    </div>
    <div class="form-row md-padding-top">
        <div class="col-md-4 margin-padding-right-0px" >
        </div>
        <div class="col-md-6" >
            <button type="button" class="btn btn-primary col-md-12" (click)="UploadSubmission()" 
            [disabled]="isEnableUploadSubmissionButton()===false" >
               Upload Submission
            </button>
        </div>
    </div>
</div>