.formInputHeight {
    height: 30px;
}
.postSelectionText{
    font-size: 12px;
    color:#385C69; 
}
@media screen and (max-width: 767px) {
    .md-label-text {
        font-weight: normal;
        font-size: 14px;
        float: left;
        display: block; 
        line-height: 20px;
      
        padding-top: 5px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .spacing-label {
        padding-left: 0px;
        padding-right:0px;
        margin-right:0px;
    }
    .spacing-view-as {
        padding-top: 10px;
        padding-bottom: 10px;

        padding-left: 0px; 
        padding-right: 8px;
        margin-right: 0px;
    }
}
@media screen and (min-width: 768px) {
   .md-label-text {
        font-weight: normal;
        font-size: 14px;
        float: right;
        display: block; 
        line-height: 30px;

        padding-right: 0px;
        margin-right: 0px; 
    }
    .spacing-label {
        padding-right:0px;
        margin-right:0px;
    }
    .spacing-view-as {
        padding-left:7px; 
        padding-right:0px;
    }
}
